{% extends 'policies/base.html' %}

{% block policy %}Accident Procedure{% endblock %}
{% block policy2 %}Accident Procedure{% endblock %}
{% block policy3 %}Accident Procedure{% endblock %}

{% block policy_contents %}
<section id="accident-procedure">
  <p>If the child has an accident, this procedure must be followed:</p>
  <ul>
    <li>Perform first aid which you have trained to do – make sure the first aid kit is accessible and with you during outings.</li>
    <li>Ring 999/111 if it is a serious accident or you have concerns about a child.</li>
    <li>Make every effort to contact the parents/guardians.</li>
    <li>Complete an accident or injury form whenever possible (include witness statements if you can).</li>
    <li>Ask parents/guardians to sign the accident or injury form and provide them with a photocopy.</li>
    <li>Replace any first aid items used.</li>
    <li>Consider whether any changes need to be made. Risk assess the situation to promote health and safety.</li>
    <li>Place the accident or injury form in the child’s file and retain it securely until they are 21 years 3 months old.</li>
  </ul>
  <p>If it is a serious accident or injury, you must:</p>
  <ul>
    <li>Report to Ofsted.</li>
    <li>Report the incident to RIDDOR.</li>
    <li>Find out whether it needs to be reported to the Local Safeguarding Board.</li>
    <li>Report the accident to the insurance company in case action is taken against me by the child or the parents in the future.</li>
  </ul>
</section>
{% endblock %}