{% extends 'policies/base.html' %}

{% block policy %}Attendance Record{% endblock %}
{% block policy2 %}Attendance Record{% endblock %}
{% block policy3 %}Attendance Record{% endblock %}


{% block policy_contents %}
<section id="attendance-record">
  <p>We are required to make an accurate record of your child's arrival and departure times by the Early Years Foundation Stage (EYFS), which states:</p>
  <blockquote>
    "Providers must hold the following information: a daily record of the names of children being cared for on the premises and their hours of attendance."
  </blockquote>
  <p>I will record your child’s attendance every session on the Attendance Register noting:</p>
  <ul>
    <li>When your child arrives at the house</li>
    <li>When your child is collected at the end of the session</li>
    <li>When we leave a child at a different setting such as school</li>
    <li>When we collect a child from a different setting such as school</li>
  </ul>
  <p>I am required by the Ofsted Early Years Inspection Handbook to monitor children’s attendance. We must follow up if a child fails to attend and we are not informed of the reason by parents/guardians – this is linked to potential safeguarding concerns. Every effort will be made to contact parents/guardians on the first day of non-attendance.</p>

  <h3>Recording Concerns</h3>
  <p>I am required by Ofsted to:</p>
  <ul>
    <li>Record reasons given for non-attendance</li>
    <li>Monitor non-attendance</li>
    <li>Note patterns of poor attendance</li>
    <li>Note any anomalies or unusual explanations offered</li>
  </ul>

  <h3>Reporting Concerns</h3>
  <p>If I am concerned about a child’s non-attendance because it may be linked to safeguarding, or if the child receives funding, I am required to contact the Local Authority. Note that in some cases funding can be withdrawn by the Local Authority.</p>
  <p>If parents/guardians are struggling to get their child here, I am available to provide support.</p>

  <h3>Why I Retain This Information</h3>
  <p>The Attendance Register might be used in the future as a record for:</p>
  <ul>
    <li>Tax Credits – in case of a query over the amount of money claimed by a parent</li>
    <li>HMRC – in case of a query about the amount of money a childminder earned</li>
    <li>Ofsted – to comply with the statutory requirements of the Early Years Foundation Stage (2017) and/or Childcare Register (2016)</li>
    <li>Insurance – in case a concern is raised in the future</li>
    <li>RIDDOR – to comply with the Reporting of Injuries, Diseases and Dangerous Occurrences Regulations (1995) in case a report is made</li>
    <li>LSCB – the Local Safeguarding Children Board / Child Protection Agency in case of query about a child’s attendance</li>
    <li>Local Authority – if the child is entitled to Government funding (2, 3, and 4 year funding)</li>
    <li>Legal reasons for processing data – to comply with the General Data Protection Regulation (GDPR, 2018). This data is stored online or on paper and retained until the child is 21 years and 3 months old for insurance purposes. At the end of this time it will be securely deleted or shredded.</li>
  </ul>
</section>
{% endblock %}