{% extends 'policies/base.html' %}

{% block policy %}Behaviour Management Policy{% endblock %}
{% block policy2 %}Behaviour Management Policy{% endblock %}
{% block policy3 %}Behaviour Management Policy{% endblock %}

{% block policy_contents %}
<section id="behaviour-management-policy">
  <p>As a registered childminder, it is my duty to care for your child/ren and to keep them safe from harm. It is important that boundaries are set, and children know what is right or wrong. I will set a good example as a role model towards your child and teach them the difference between right and wrong. I aim to provide a home-from-home environment and teach children how to be kind to others, how to share, and how to take turns when playing with their peers. By doing this, they will also develop great social skills to use in their own homes.</p>
  
  <p>The children will be taught how to take care of things and how to look after their possessions. I will promote friendliness amongst them and teach them to be polite and use their manners.</p>
  
  <p>Unwanted behaviour will be dealt with professionally through talking to the child and helping them understand what was wrong. If a child needs to think about what went wrong, I will ask them to sit and reflect before resuming the activity.</p>
</section>
{% endblock %}