{% extends 'policies/base.html' %}

{% block policy %}Complaints Policy{% endblock %}
{% block policy2 %}Complaints Policy{% endblock %}
{% block policy3 %}Complaints Policy{% endblock %}

{% block policy_contents %}
<section id="complaints-policy">
  <p>As a registered childminder, I aim to meet all the needs of your child/ren by working closely in partnership with all parents/guardians. I hope that you are happy with the service I provide; however, if at any time you feel I am not offering the service you require, I encourage you to discuss any concerns or issues with me directly. If you prefer not to discuss this in front of your child/ren, I am happy to arrange a more convenient time, for example in the evening or at the weekend. I will make every effort to resolve any issues. Alternatively, you can make a formal complaint in writing or by email. As a childminder, I have a duty to investigate any complaints relating to the child. Depending on the severity of the complaint, I will either investigate myself or it will be passed on to Ofsted to investigate. All complaints will be treated sensitively, and a written record will be kept. This record will remain confidential unless requested by an Ofsted inspector.</p>
  
  <p>The following information will be recorded:</p>
  <ul>
    <li>Name of person making the complaint</li>
    <li>Nature of the complaint</li>
    <li>Date and time of complaint</li>
    <li>Action taken in response to the complaint</li>
    <li>The outcome of the complaint investigation</li>
    <li>Details of the information and findings, including any outcomes</li>
  </ul>

  <p>A summary of the complaint will also be kept to provide on request from any parent of the child or an Ofsted inspector. The summary will not include the name of the person making the complaint. Records will be retained for 3 years.</p>

  <p>You may also wish to complain to the Local Authority Designated Officer (LADO) if you have concerns about someone who works with children, including myself or other professionals.</p>

  <p>Contact Information:</p>
  <ul>
    <li>To speak with Ofsted directly: 0300 123 1231</li>
    <li>To speak with LADO directly: 01782 235100</li>
  </ul>
</section>
{% endblock %}