{% extends 'policies/base.html' %}

{% block policy %}Emergency Evacuation Policy and Procedure{% endblock %}
{% block policy2 %}Emergency Evacuation Policy and Procedure{% endblock %}
{% block policy3 %}Emergency Evacuation Policy and Procedure{% endblock %}

{% block policy_contents %}
<section id="emergency-evacuation-policy">
  <p>To meet the requirements of the Early Years Foundation Stage and the Childcare Register, I must consider the potential risk of a fire in my home and take the following steps:</p>
  <ul>
    <li>Make sure that evacuation routes have been identified and are always clear and accessible. This will be checked daily.</li>
    <li>Make myself aware of what to do in order to reduce or prevent potential risks.</li>
    <li>Produce a written statement detailing the escape route I will take with children in case of fire.</li>
    <li>Ensure I have the appropriate smoke alarms on each floor and that they are in the most suitable places, considering closed doors and the location of the kitchen.</li>
    <li>Regularly practice a fire evacuation with all children to raise the alarm using the procedure stated below.</li>
    <li>Keep a log of:
      <ul>
        <li>The date of the drill</li>
        <li>Names of children in attendance</li>
        <li>Time taken to evacuate</li>
        <li>Issues which slowed down the evacuation</li>
        <li>Action to be taken</li>
        <li>Date action completed</li>
      </ul>
    </li>
  </ul>

  <h3>Procedure</h3>
  <p>In the event of a fire, I will calmly gather the children together and make our exit via the identified fire exit route. I will ask children to listen very carefully to my instructions. I will ensure the younger children are carried to safety. The children will not collect their belongings.</p>
  
  <p>Once safely out of the building, I will check the register and carry out a headcount of the children in my care. I will ring 999 using my mobile phone. I ensure that my mobile phone is always fully charged and contains the telephone contact details of all parents and/or carers of the children in my care. Parents and/or carers will be informed as soon as possible. We will not re-enter the building for any reason until advised by the Fire Service that it is safe to do so.</p>
</section>
{% endblock %}