{% extends 'policies/base.html' %}

{% block policy %}Equal Opportunities Policy{% endblock %}
{% block policy2 %}Equal Opportunities Policy{% endblock %}
{% block policy3 %}Equal Opportunities Policy{% endblock %}

{% block policy_contents %}
<section id="equal-opportunities-policy">
  <p>I will actively promote equality of opportunity and anti-discriminatory practices for all children, ensuring that all children are treated with equal concern and respect.</p>
  
  <p>I recognise and adhere to all relevant legislation, including <strong>The Equality Act 2010</strong>, which prevents discrimination against different groups of people.</p>
  
  <p>I value and respect the different racial origins, religions, cultures, and languages in a multi-ethnic society so that each child is valued as an individual without racial or gender stereotyping. I will not discriminate against children on the grounds of disability, sexual orientation, age, class, family status, gender reassignment, or HIV/AIDS status.</p>
  
  <p>I provide equal chances for each child to learn and develop to their full potential, taking into account each child’s age and stage of development, gender, ethnicity, home language, and ability.</p>
  
  <p>I ensure all children have access to a range of books, puzzles, and other toys which provide positive images and examples of the diversity of life in our society.</p>
  
  <p>I challenge racist and discriminatory remarks, attitudes, and behaviour from the children in my care and other adults.</p>
  
  <p>I help children feel good about themselves and others by celebrating the differences that make us all unique. In my setting, I also educate children not to discriminate against others.</p>
</section>
{% endblock %}