{% extends 'policies/base.html' %}

{% block policy %}Health and Safety Policy{% endblock %}
{% block policy2 %}Health and Safety Policy{% endblock %}
{% block policy3 %}Health and Safety Policy{% endblock %}

{% block policy_contents %}
<section id="health-safety-policy">
  <p>The Early Years Foundation Stage Framework requires providers to take all necessary steps to keep children safe and well. The Health and Safety of your child is very important to me and I have therefore documented the following procedures that I have in place to support this.</p>
  
  <ul>
    <li>All toys will be checked and cleaned regularly to ensure they are safe for your child to use. Any broken or hazardous toys will be removed immediately. Children will only be offered toys and resources that are suitable for their age/stage of development.</li>
    <li>I do a quick risk assessment of my home every morning before the children arrive to ensure that it is a safe environment for all.</li>
    <li>All equipment is fitted with the correct safety harness to prevent accidents, for example high chairs and pushchairs.</li>
    <li>I use safety equipment appropriate for the children in my care in accordance to their age e.g. stair gate.</li>
    <li>I will keep my front door locked with the keys stored away securely to prevent children opening the door to strangers.</li>
    <li>I have procedures in place in the event of a fire.</li>
    <li>I keep my kitchen very clean by following hygiene guidelines on the storing of food, and keep the fridge at the correct temperature.</li>
    <li>I ensure that children do not have access to waste; the bins are emptied daily, and any used nappies are wrapped and placed in the outdoor rubbish bin.</li>
    <li>I do not permit smoking in my home or in the garden. This includes cigarettes, vapes and electronic cigarettes.</li>
    <li>I follow strict hygiene guidelines to prevent contamination.</li>
    <li>I have strict child protection guidelines in place.</li>
    <li>Children must stay with me when we are away from home. Younger children will be strapped in a pushchair, and older children will either be on a harness or wrist strap or holding onto my hand or pushchair.</li>
    <li>I have emergency contact details with me at all times should I need to contact the parents.</li>
    <li>I will work with you to teach the children about safety issues like crossing the road and stranger danger.</li>
    <li>I will work with you to teach the children about physical exercise and making healthy food choices.</li>
    <li>Sleeping children will be regularly monitored.</li>
    <li>I will safely restrain a child if they are putting themselves or others in danger, for example running into the road.</li>
  </ul>

  <h2>Paediatric First Aid</h2>
  <p>I am committed to keeping children safe. However, accidents do sometimes happen. I, the childminder, have an up-to-date paediatric first aid certificate and the children are within sight and/or hearing at all times. I risk assess constantly to help keep children safe.</p>

  <h2>Fire Safety</h2>
  <p>I comply with fire safety requirements for childminders. Please ask if you would like to see my Fire Evacuation Procedures.</p>

  <h2>Outside Play</h2>
  <p>The garden is as safe as reasonably practicable and risk assessed before, during and after each working day. It is set up to support all children’s learning: resources and equipment are provided which promote children’s learning and development. It is a requirement of the EYFS that children go outside every day apart from if there are unsafe weather conditions. Parents are therefore asked to provide appropriate clothing and spare clothes in case their child gets wet or muddy. I have spare clothes for children if required. I also ask parents to provide a bottle of labelled sun cream for their child. Permission is in place to apply cream and children are taught how to do this independently (with supervision). Parents are asked to put the first layer of sun cream on their child in the morning and I will continue to apply it regularly through the day.</p>

  <h2>Sleeping Children</h2>
  <p>Children are checked regularly whilst they are asleep. I share Safe Sleep guidance and information with the parents.</p>

  <h2>Nappy and Toileting</h2>
  <p>Nappy changing and toilet facilities are cleaned regularly, using anti-bacterial cleaning products to keep them clean. Soiled clothes and other items are bagged up for parents to take home.</p>

  <h2>Healthy Eating</h2>
  <p>Meal times are an important time of the day and we all sit together to eat. Children are supervised constantly when eating. I am committed to offering children healthy, nutritious food which meets their individual dietary requirements as advised by their parents. All food is freshly prepared, using best quality ingredients where possible and presented well. Portion sizes are realistic and children are never asked to clear plates as I am aware of the risks of over-eating.</p>
  <p>I am registered with the Local Authority Environmental Health Department as a food provider and update food hygiene training regularly. I use the guidance ‘Safer Food Better Business for Childminders’ from the Food Standards Agency.</p>

  <h2>Oral Health</h2>
  <p>It is now a requirement of the EYFS for us to teach children about the importance of brushing our teeth twice a day. This topic will be covered during the child’s time at the setting through reading and play. I have also shared this information with parents.</p>
</section>
{% endblock %}