{% extends 'policies/base.html' %}

{% block policy %}Lost Child Policy{% endblock %}
{% block policy2 %}Lost Child Policy{% endblock %}
{% block policy3 %}Lost Child Policy{% endblock %}

{% block policy_contents %}
<section id="lost-child-policy">
  <p>The care of your child is paramount, and I will always try to ensure that they remain with me and are safe. However, sometimes children may become ‘lost’ in busy places. As a responsible childminder, the following procedure will be followed:</p>
  <ul>
    <li>Immediately raise the alarm to all around me and enlist everyone’s help to look for the child.</li>
    <li>If in a secure area, such as a shopping centre, alert the security staff so they can seal exits and monitor the situation on CCTV.</li>
    <li>Provide everyone involved in the search with a description of the child.</li>
    <li>Reassure other children with me, as they may become distressed.</li>
    <li>Alert the police and provide a full description of the child.</li>
    <li>Alert the parents of the situation.</li>
  </ul>

  <p>Precautions to prevent children from becoming lost include:</p>
  <ul>
    <li>Ensuring children are always holding mine or my assistant’s hand if they are not strapped into a pushchair.</li>
    <li>Regular head counts.</li>
    <li>Avoiding overcrowded places.</li>
    <li>Teaching children about the dangers of wandering off and talking to strangers.</li>
  </ul>
</section>
{% endblock %}