{% extends 'policies/base.html' %}

{% block policy %}Medication Policy{% endblock %}
{% block policy2 %}Medication Policy{% endblock %}
{% block policy3 %}Medication Policy{% endblock %}

{% block policy_contents %}
<section id="medication-policy">
  <p>Taken from the Statutory Framework for the Early Years Foundation Stage:</p>
  <ul>
    <li>The provider must promote the good health of children attending the setting. They must have a procedure, discussed with parents and/or carers, for responding to children who are ill or infectious, take necessary steps to prevent the spread of infection, and take appropriate action if children are ill.</li>
    <li>Providers must have and implement a policy, and procedures, for administering medicines. This includes obtaining information about a child’s needs for medicines and keeping it up to date. Staff must receive training where administration requires medical or technical knowledge.</li>
    <li>Prescription medicines must not be administered unless prescribed for a child by a doctor, dentist, nurse, or pharmacist. Medicines containing aspirin should only be given if prescribed by a doctor. Medicine must only be administered where written permission for that particular medicine has been obtained from the child’s parent and/or carer. Providers must keep a written record each time a medicine is administered and inform the child’s parents/carers on the same day or as soon as reasonably practicable.</li>
  </ul>

  <p>As a childcare provider, I implement effective procedures to meet the individual needs of a child when administering medicines.</p>

  <h3>Medical Procedure</h3>
  <ul>
    <li>Keep written records of all medicines administered to children in my care.</li>
    <li>Inform parents when a medicine has been administered, including time and dosage, using the medication record form.</li>
    <li>Store all medicines in the fridge if necessary, following product instructions and keeping them in the original container.</li>
    <li>Obtain prior written permission from parents for each medicine before administration.</li>
    <li>If administration requires technical/medical knowledge, attend training from a qualified health professional specific to the child.</li>
    <li>Only administer prescription medicine if prescribed by a doctor, dentist, nurse, or pharmacist.</li>
    <li>Non-prescription medicine, such as pain and fever relief, will only be administered with prior written consent from parents and only when there is a health reason. If needed during the day, permission will be obtained verbally, by text, or email.</li>
    <li>Never administer medicines containing aspirin to a child under 16 unless prescribed by a doctor.</li>
    <li>For children with long-term medical needs, ensure sufficient information is obtained and work in partnership with parents to assist administration of prescribed medication.</li>
    <li>If your child has self-held medication, please provide an additional supply to reduce the risk of them being without it.</li>
    <li>It is vital that you inform me of any medication given to your child before they arrive in my care.</li>
  </ul>
</section>
{% endblock %}