{% extends 'policies/base.html' %}

{% block policy %}Privacy Notice{% endblock %}
{% block policy2 %}Privacy Notice{% endblock %}
{% block policy3 %}Privacy Notice{% endblock %}

{% block policy_contents %}
<section id="privacy-notice">
  <p>I record, process, and keep personal information about you and your child in accordance with the General Data Protection Regulation (GDPR).</p>
  <p>All information I store will be held in paper format in a secure cupboard or securely on a laptop device.</p>

  <h3>Records I Hold About Your Child</h3>

  <h4>Developmental Records:</h4>
  <ul>
    <li>Information from you</li>
    <li>Details about your child’s learning and development at home</li>
    <li>A copy of your child’s statutory 2-year progress check</li>
    <li>Assessments, individual planning, and regular progress summaries</li>
  </ul>

  <h4>Personal Records:</h4>
  <ul>
    <li>Personal details required by statutory frameworks and/or the Local Authority for funding purposes</li>
    <li>Contractual details including attendance registers and fees information</li>
    <li>Emergency details including your contact details and records of your child’s health and care needs</li>
    <li>Safeguarding and child protection records</li>
    <li>Any records required to support your child, such as shared information from other agencies and professionals</li>
  </ul>

  <p>I hold information about you and your children to comply with the Early Years Foundation Stage and the Childcare Register (2016). Some of the data processed relates to the Early Years Inspection Handbook. Most information collected about you and your child is statutory.</p>

  <h3>Ensuring Your Data is Accurate</h3>
  <p>Under GDPR, I am required to keep data about you and your children up to date. You have the right to access personal data about you and your children, and I will share this information on request.</p>

  <h3>How Long I Keep This Data</h3>
  <p>Information retention details can be found in my <strong>Retention Policy</strong>, which will be shared with you before your child starts in my care.</p>

  <h3>How I Delete Your Data</h3>
  <p>Paper files will be handed to the parent when the child leaves my care or goes to school and shredded when no longer required. See the Retention Policy for more information.</p>

  <h3>How You Can Make a Complaint</h3>
  <p>If you believe there has been a data breach or that your data is not being processed appropriately, you may make a complaint. Complaints to Ofsted can be made via:</p>
  <ul>
    <li>Email: enquiries@ofsted.gov.uk</li>
    <li>Address: Piccadilly Gate, Store Street, Manchester, M1 2WD</li>
    <li>Phone: 0300 123 1231</li>
  </ul>
</section>
{% endblock %}