{% extends 'policies/base.html' %}

{% block policy %}Safeguarding Policy{% endblock %}
{% block policy2 %}Safeguarding Policy{% endblock %}
{% block policy3 %}Safeguarding Policy{% endblock %}

{% block policy_contents %}
<section id="safeguarding-policy">
  <p>“Nothing is more important than a child’s welfare. Children who need help and protection deserve high quality and effective support as soon as a need is identified” (Working Together to Safeguard Children 2018)</p>

  <p>Within the setting my responsibility and priority are towards the children in my care. If in my care I have any cause for concern I will report it to Stoke-on-Trent Safeguarding Children Partnership where I will discuss my concerns to Integrated Front Door (IFD). I must also notify Ofsted of any allegations of abuse that are alleged to have taken place while the child is in my care, including any allegations against me, any members of my family, or other adults or children in my home who have had contact with minded children. There are different types of abuse however these fall under five different types of abuse which are physical, sexual, emotional, neglect and domestic abuse.</p>

  <p>I have undertaken training to ensure I am aware of the signs and symptoms of these different types of abuse. I have completed Level 1 Safeguarding and training to serve as the Designated Safeguarding Lead within my setting. I will refresh this training every two years but also adhere to any safeguarding updates within that time that is required of me. This training has been delivered and supported through Stoke-on-Trent Early Years Team.</p>

  <h2>Supporting Vulnerable Children</h2>
  <p>I am aware that children with special educational needs and / or disabilities (SEND) are especially vulnerable to abuse and neglect. Where appropriate, I aim to work closely with parents and other agencies / professionals involved in the child’s care. If you have any concerns please feel free to discuss these with me. You may also refer to my <a href="{% url 'get_policy' 'equal-opportunities-policy' %}" target="_blank">Equal Opportunities Policy</a> and <a href="{% url 'get_policy' 'special-needs-policy' %}" target="_blank">Special Needs Policy</a></p>

  <h2>Non Mobile Babies</h2>
  <p>I also have a duty of care to report any existing injuries or concerns to Stoke-on-Trent Safeguarding Children Partnership. (Refer to Bruising in Non-Mobile Babies document). I aim to share all information with parents but in some instances (where I am worried about a child’s well-being) I may have to refer concerns without discussing this with you. I work together with parents to make sure the care of their child is consistent.</p>

  <h2>Child Absences</h2>
  <p>I am required by Ofsted to record reasons given for non-attendance, monitor non-attendance, note patterns of poor attendance and note any anomalies or unusual explanations offered. If I am concerned about a child’s non-attendance then I will contact the main parent/carer and also the required two emergency contacts. If I have concerns it could be linked to a Safeguarding issue or if the child receives funding, I am required to contact the Local Authority. Note that in some cases funding can be withdrawn by the Local Authority.</p>

  <p>If parents/guardians are struggling to get their child here, then I am here for support.</p>

  <h2>Collections of child/ren</h2>
  <p>Children will only be released from my care to the parent/carer or to someone named and authorised by them. A password might be used to confirm identity if the person collecting the child is not previously known to me. If a parent does not come to collect their child then I would in the first instance contact the parent/carer and then contact the emergency contact if necessary.</p>

  <p>Parents must notify me of any concerns they have about their child and any accidents, incidents or injuries affecting the child, which I will record and ask parents to sign.</p>

  <p>If I have concerns for a child and believe that a child may be at risk of further harm I will follow the correct safeguarding procedures which is to report my concerns to the Integrated Front Door (IFD) our local safeguarding partnership. However in some instances these concerns may be addressed firstly with the parent or carer.</p>

  <h3>Some of the signs I would look out for are:</h3>
  <ul>
    <li>significant changes in children's behaviour;</li>
    <li>deterioration in children’s general well-being;</li>
    <li>unexplained bruising, marks or signs of possible abuse or neglect;</li>
    <li>children’s comments which give cause for concern;</li>
    <li>any reasons to suspect neglect or abuse outside the setting, for example in the child’s home;</li>
    <li>inappropriate behaviour displayed by other members of staff, or any person working with children. For example, inappropriate sexual comments, excessive one to one attention beyond the requirements of their usual role and responsibilities, or inappropriate sharing of images.</li>
  </ul>

  <h3>If a child tells me that they or another child is being abused, I will:</h3>
  <ul>
    <li>show that I have heard what they are saying, and that I take their allegations seriously by giving them my full attention;</li>
    <li>maintain a calm appearance and encourage the child to talk, without prompting them or asking them leading questions. I will not interrupt when a child is recalling significant events and will not make a child repeat their account;</li>
    <li>reassure the child that it is right to tell;</li>
    <li>don’t make promises, but explain what actions I must take, in a way that is appropriate to the age and understanding of the child;</li>
    <li>record what I have been told using exact words where possible;</li>
    <li>make a note of the date, time, place and people who were present at the discussion.</li>
  </ul>

  <h2>Procedure for Allegations of abuse against a Childminder</h2>
  <p>Managing allegations against a person of trust includes:</p>
  <ul>
    <li>Those in paid employment, including temporary, casual and agency staff</li>
    <li>Individuals undertaking unpaid voluntary work</li>
    <li>Individuals who are self employed and work directly, or are contracted to work, in the provision of services to children.</li>
  </ul>

  <p>Has the person:</p>
  <ul>
    <li>Possibly committed a criminal offence against, or related to a child</li>
    <li>Behaved in a way that has harmed a child; or may have harmed a child (Children’s Social Care – Protection of the child)</li>
    <li>Behaved towards a child or children in a way that indicates they pose a risk to children and young people</li>
  </ul>

  <h2>Initial Response to allegations or concerns</h2>
  <p>An allegation against myself (childminder) or a member of the household may arise from a number of sources. For example a report from a child victim, a concern raised by another child or an adult in the organisation, or a complaint by a parent or carer. The person to whom an allegation or concern is first reported should treat the matter seriously and keep an open mind. They should contact the Designated Manager for Allegations in their organisation. In this instance, the childminder, who then will contact the Local Authority Designated Officer (LADO).</p>

  <h3>As a childminder I will not:</h3>
  <ul>
    <li>Investigate or ask leading questions</li>
    <li>Interrupt a child when recalling significant events</li>
    <li>Make assumptions or offer alternative explanations</li>
    <li>Promise complete confidentiality</li>
    <li>Approach the individual concerned</li>
  </ul>

  <h3>However, to protect all children in my care I will:</h3>
  <ul>
    <li>Ensure all household members over 16 are DBS checked</li>
    <li>Ensure all visitors to the house sign the visitor’s book and do not have unsupervised access to the children under any circumstances</li>
    <li>Ensuring, where possible, that no workmen are in the house during minded hours, unless it is to repair an emergency service or for Health & Safety reasons</li>
    <li>Document every accident and incident that occurs whilst in my care, informing parents and requesting them to sign my records</li>
    <li>Noting any marks on the children when they arrive and asking parents to inform me of any accidents that have occurred whilst outside my care</li>
    <li>Ensuring the children are supervised at all times</li>
    <li>Keeping accurate records on each child and writing a daily diary</li>
  </ul>

  <p>If an allegation is made, I will make a referral to LADO and complete the referral form which can be found on the Safeguarding Children Board website. I will highlight concerns with evidence, provide mine and the families details, provide further insight of the parents/carer’s knowledge, whether the child has any special needs and any further information I feel is relevant. If there were any witnesses I will ask them (if there were any) to also write a statement detailing the incident they witnessed and giving their contact details in case it needs to be followed up by the authorities. Any child protection issues will also be referred to the Integrated Front Door for Stoke-on-Trent.</p>

  <h2>Safer Recruitment</h2>
  <p>In the event I take on an assistant or an individual takes up a voluntary role within the setting I will adhere to my safer recruitment procedures to ensure all children are safeguarded. This means that any persons undertaking a role will have to provide two references from previous employers. This includes any apprentices or trainees. The references will be checked over thoroughly and verified. References made by family members or personal acquaintances will not be accepted.</p>

  <h2>Safer Eating and Paediatric First Aid</h2>
  <p>I am fully Paediatric First Aid trained and I renew this every three years. I have the knowledge to help children if they hurt or injure themselves and know how to treat these children for different illnesses/injuries.</p>
  <p>This also includes safer eating. Before taking care of a child I will gather any allergies, intolerances and dietary information I need to know. I will ensure that all children are safe within the setting and check food and ingredients for whatever is necessary. I will also know how to recognise and treat any allergic reactions that may take place. This includes visible supervision during meals to prevent choking and food sharing. Any choking incidents that need intervention will be recorded and communicated to parents.</p>

  <p>Here are some procedures that I will follow within the setting:</p>
  <ul>
    <li>Wash hands thoroughly before and after handling or consuming food</li>
    <li>Only consume food that is stored, prepared and served in a hygienic manner</li>
    <li>Refrigerate perishable items promptly</li>
    <li>Label all foods if not in original packaging</li>
    <li>Wipe down surfaces before and after eating</li>
    <li>I will be allergen aware and avoid bringing foods into the setting which are common allergens</li>
    <li>Any foods which are a known allergen are to be stored separately</li>
    <li>Clearly label any shared or group food items with full ingredient lists</li>
    <li>Never share food</li> 
    <li>Respect dietary restrictions and preferences</li>
    <li>Ensure that Epipens are accessible and keep my training and knowledge on using them up to date for when required</li>
  </ul>
  
  <h2>Toileting and Nappy Changes</h2>
  <p>Keeping children safe and respecting their privacy is paramount in my setting. I will always provide children the privacy and dignity whether they use the toilet or require nappy changes whilst still ensuring other children remain in sight or hearing whilst I assist.</p>

  <h2>Peer on Peer Abuse</h2>
  <p>I recognise that children are capable of being abused by their peers. Possible forms of peer on peer abuse may be to situations such as sexual exploitation, gang violence, financial abuse, coercive control and exploitative relationships. I strive for all the children in my care to feel happy and safe. I am approachable and will listen to any child who discloses any worries about their relationships with peers. I will act in accordance with the correct procedures if I have any concerns and make sure that all children are immediately safeguarded. I will contact Integrated Front Door and provide them with any evidence I have obtained. I will follow up this phone call with a letter to the Duty Team within 48 hours. I will record the concern and all contact with Children’s Services there-after.</p>

  <h2>Female Genital Mutilation (FGM)</h2>
  <p>FGM is a procedure that involves the partial or total removal of the female external genitalia. In England, Wales and Northern Ireland, the practice is illegal under the Female Genital Mutilation Act 2003 and is considered child abuse. I am aware of the signs of a child being at risk of FGM or already have suffered this procedure. If I see or I am told by a child that they are have had any form of FGM I am legally required to report this to the police. If I suspect that a child may have had FGM or is at risk of being victim I will report my concerns to Integrated Front Door and the Police. I will keep detailed records of communications with all other organisations.</p>

  <h2>Forced Marriage</h2>
  <p>Forced Marriage is a marriage that is performed under duress and without the full and informed consent or free will of both parties. If I suspect that a child may be a victim of Forced Marriage, I will make a written record of my concerns and any disclosures by collecting as much information as possible and report my concerns to Integrated Front Door. I will cooperate fully with other agencies such as Social Care and the Police.</p>

  <h2>Child Sexual Exploitation (CSE)</h2>
  <p>Child sexual exploitation is a form of child sexual abuse. It occurs where an individual or group takes advantage of an imbalance of power to coerce, manipulate or deceive a child or young person under the age of 18 into sexual activity in exchange for something the victim needs or wants, and/or for the financial advantage or increased status of the perpetrator or facilitator. The victim may have been sexually exploited even if the sexual activity appears consensual. Child sexual exploitation does not always involve physical contact; it can also occur through the use of technology. (Working Together To Safeguard Children, Department for Education 2017). Children who are victims of Child Sexual Exploitation are also at rick of child trafficking, locally, nationally, and internationally.</p>

  <p>If I suspect that a child may be a victim of CSE, I will make a written record of my concerns and any disclosures, collect as much information as possible, and report my concerns to the dedicated CSE Unit which comprises of Police and Children’s social care.</p>

  <p>In all instances of concern, I will record:</p>
  <ul>
    <li>the child’s full name and address;</li>
    <li>the date and time of the record;</li>
    <li>factual details of the concern, for example bruising, what the child said, who was present;</li>
    <li>details of any previous concerns;</li>
    <li>details of any explanations from the parents;</li>
    <li>any action taken such as speaking to parents.</li>
  </ul>

  <h2>Prevent Duty</h2>
  <p>In order for childminders to fulfil the Prevent Duty (Counter-Terrorism and Security Act 2015), it is essential that they are able to identify children who may be vulnerable to radicalisation and know what to do when they are identified. Protecting children from risk of radicalisation should be seen as part of childminders’ wider child protection duties and is similar in nature to protecting children from other harms, whether these come from within their family or are the product of outside influences.</p>

  <p>As a childcare provider, I will assess the risk of children being drawn into terrorism, including support for extremist ideas that are part of terrorist ideology. The general risks affecting children may vary from area to area and according to age. I understand that there is no single way of identifying an individual who is likely to be susceptible to a terrorist ideology. As with all child protection issues, I will be alert to changes in children’s behaviour which could indicate that they may need help or protection. The Prevent Duty does not require childcare providers to carry out unnecessary intrusion into family life, but with as with any safeguarding risk, I will contact my local Prevent Team if any behaviour causes concern.</p>

  <p>As a childminder, I can also build children’s resilience to radicalisation by promoting fundamental British Values and enabling them to challenge extremist views. I will provide suitable opportunities which encourage children to respect each other’s views and values, to understand that their views count, and to talk about their feelings. Activities will involve turn taking, sharing and collaboration. Children will be encouraged to understand their own and others’ behaviour and its consequences and focus on treating others as you want to be treated. They will have an input in creating rules and codes of behaviour. An ethos of total acceptance of all views, faiths, cultures and races will be created, where children will appreciate and respect their own and others’ cultures.</p>

  <p>If I have any concerns that a child or someone is being radicalised I will access support for them through the Stoke-on-Trent’s Channel Panel and use the Prevent National Referral Form. However if I believe a person may be in immediate danger I will call 999.</p>

  <p>This forms part of my safeguarding approach and will be reviewed whenever guidance is updated.</p>

  <h2>Whistle Blowing</h2>
  <p>Please review the separate Whistle Blowing policy for the procedures on what to do.</p>

  <h2>Cultural Capital</h2>
  <p>Cultural Capital is the essential knowledge that children need to prepare them for their future success. This can be achieved by giving children the best possible start through their early education. I will use the Early Years Foundation Stage curriculum and what I already know about the child such as the experiences they arrived with to decide what they need to learn and develop for their future success. This will increase the opportunities for the child and provide them with a more equal path of life to their peers.</p>

  <h2>Lost Child Policy</h2>
  <p>The care of your child is paramount, and I will always try to ensure that they remain with me and that they are safe. However, sometimes children become ‘lost’ in busy places and therefore, as a responsible childminder, I have written a procedure that will be followed.</p>

  <ul>
    <li>I will immediately raise the alarm to all around me that I have lost a child, and enlist the help of everyone to look for them;</li>
    <li>if it is a secure area, such as a shopping centre, I will quickly alert the security staff so they can seal off exits and monitor the situation on any CCTV;</li>
    <li>I will provide everyone involved in the search with a description of the child;</li>
    <li>I will reassure other children with me, as they may become distressed;</li>
    <li>I will then alert the police and provide a full description;</li>
    <li>I will then alert the parents of the situation.</li>
  </ul>

  <p>I take precautions to avoid situations like this happening by implementing the following measures:</p>
  <ul>
    <li>I ensure that children are always holding my hand if they are not strapped in the pushchair.</li>
    <li>I will do regular head counts</li>
    <li>I avoid going to places that are overcrowded;</li>
    <li>I teach the children the dangers about wandering off and talking to strangers.</li>
  </ul>

  <h2>Camera and Mobile Phone Policy</h2>
  <h3>Aim</h3>
  <p>To adhere to the safeguarding requirements of the setting regarding the use of camera / mobile telephone or other portable devices capable of taking/storing images of persons attending the setting such as smart watches and furthermore.</p>
  <p>In the case of an emergency or to speak to parents/carers I will have easy access to my mobile phone throughout the day. However, I have developed the following guidelines to safeguard children within the setting.</p>
  <ul>
    <li>Any images taken of children attending the setting should be in the interest of recording children’s learning and development. This could also also be taking photographs of the child to share with the parent to show what activities they have been doing throughout the day. Parents can withdraw permission for this.</li>
    <li>I will not publish any photographs on social media sites or share them with anybody else unless I have granted parental permission.</li>
    <li>If parents, guardians or any household visitors wish to answer their phone, they are advised to stand outside towards the front of the house away from any other children.</li>
    <li>No persons who have a smart watch or any other device which is capable of storing/taking images will be able to wear this within the setting and will be asked to remove it and store away.</li>
    <li>When in the household all parents, guardians and visitors will be notified they are not able to use their phone in the setting and therefore must leave the setting if they wish to use it.</li>
    <li>Written permission must be obtained from a child’s parent/s prior to any image being taken of a child by the childminder.</li>
    <li>Children are not permitted to use mobile phones or cameras within the setting. If needed they will be safely stored away until the child leaves the setting where they will then be returned the equipment.</li>
  </ul>

  <h2>E-Safety Policy</h2>
  <p>I accept that the internet and social media are a part of modern-day technology which help us to share information with each other and can also be an aid for a learning tool. However, I am aware that this can come with its own risks and dangers. Therefore, I have created the following guidelines to protect the children, staff and parents who use the setting.</p>
  <ul>
    <li>All phones in use must be away from the children at all times unless the childminder needs to use in an emergency. If the staff member is required to access the internet they must do this in a separate room away from the children.</li>
    <li>Sometimes children may use an age appropriate learning programme on the ipad or laptop. This will be with adult guidance.</li>
    <li>I will ensure that computers and technology such as iPads and laptops are password protected and that all personal information on these devices are also password protected.</li>
    <li>Only photographs of the children’s crafts/activities/outings will be used on social media with parental permission.</li>
    <li>Parents should be advised that it may not be appropriate to respond to calls immediately but that they should expect a return call from the childminder at the earliest opportunity. Voicemail messages will be deleted once a reply has been given or kept for records if required.</li>
  </ul>

  <h2>Review</h2>
  <p>This policy will be reviewed annually and updated in line with Ofsted requirements and safeguarding guidance.</p>
</section>
{% endblock %}