{% extends 'policies/base.html' %}

{% block policy %}Special Needs Policy{% endblock %}
{% block policy2 %}Special Needs Policy{% endblock %}
{% block policy3 %}Special Needs Policy{% endblock %}

{% block policy_contents %}
<section id="special-needs-policy">
  <p>As a childcare provider I understand that children may have special educational needs and require additional support. I ensure that I will take the appropriate action when a child is identified as having special needs and I will promote the welfare and development of the child in partnership with their parents/carers and other relevant agencies. I have set procedures in place which will be followed when I care for a child with special needs.</p>

  <ul>
    <li>I will maintain confidentiality at all times unless I feel that the child’s welfare is not being met.</li>
    <li>I will keep observational notes and share these notes with the child’s parents/carers as soon as possible, discussing what support is available and work in partnership with them.</li>
    <li>I will adapt my provision where necessary so that each child can access all areas. I will also promote equal opportunities and adapt any activities to ensure that all children are able to participate.</li>
    <li>I will value each child the same and acknowledge their individuality.</li>
    <li>I will seek information from the parents about the child’s routines, likes, and dislikes.</li>
    <li>I will encourage the child/ren to be independent at all times where possible to promote confidence.</li>
    <li>I will seek external help if I feel it would benefit me, my home or the children.</li>
  </ul>

  <p>In summary, to ensure children are supported I will use my daily observations and the early years developmental milestones criteria to track progress. I will talk to parents/carers early and have a sensitive but supportive conversation and work closely with them for the best interests of the child. I will adapt my practice to provide inclusive quality teaching and create a SEN support plan if needed, which can be regularly reviewed to ensure that the support is being met for the child.</p>

  <p>If I believe there is discrimination within the setting under the Equality Act 2010, I will prevent all forms of discrimination, any victimisation and harassment. I will promote inclusive play daily by the use of books, toys and resources. I will also embrace and celebrate our differences and the things we celebrate. I will also teach respect and kindness to one another and use my teaching to incorporate this through play such as turn-taking and using stories etc.</p>

  <p><strong>NO discrimination</strong> is acceptable within my setting. If I believe this to come from a child or parent/carer, I will refer them to the Equality Act 2010 and my policies. Any incidents will be recorded and kept in a safe file.</p>

  <p>If you have any further questions regarding this policy, please do not hesitate to ask me.</p>
</section>
{% endblock %}