<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/base/styles.css" />
        <title>{{ trading_name }} - {% block title %}{% endblock %}</title>
        <link rel="canonical" href="{{ full_url }}" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/favicon.ico">
        {% block head %}
        <meta name="description" content="{{ trading_name }}, an OFSTED registered childcare provider in Baddeley Green, Stoke-on-Trent" />
        <meta property="og:title" content="{{ trading_name }}" />
        <meta property="og:description" content="{{ trading_name }}, an OFSTED registered childcare provider in Baddeley Green, Stoke-on-Trent" />
        <meta property="og:image" content="{{ full_url }}/static/base/images/logo.png" />
        <meta property="og:url" content="{{ full_url }}" />
        <meta property="og:type" content="website" />
        <meta property="og:logo" content="{{ full_url }}/static/base/images/logo.png" />
        <meta name="twitter:title" content="{{ trading_name }}" />
        <meta name="twitter:description" content="{{ trading_name }}, an OFSTED registered childcare provider in Baddeley Green, Stoke-on-Trent" />
        <meta name="twitter:image" content="{{ full_url }}/static/base/images/logo.png" />
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a id="nav-logo-a" href="{% url 'home' %}" aria-label="{{ trading_name }} Navigation Bar Logo" aria-description="Tap this logo to go to the home page">
                    <img src="/static/base/images/logo.svg" alt="{{ trading_name }} Logo" />
                </a>
                <button id="menu-button">
                    <div class="bar 1"></div>
                    <div class="bar 2"></div>
                    <div class="bar 3"></div>
                </button>
                <ul id="menu" class="out">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                    <li><a href="{% url 'policy_menu' %}">Policies</a></li>
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                        <li><a href="{% url 'staff_dashboard' %}">Dashboard</a></li>
                        {% else %}
                        <li><a href="{% url 'parent_dashboard' %}">Dashboard</a></li>
                        {% endif %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% block header %}
            {% endblock %}
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <hr id="footer-hr">
        <footer>
            <div id="footer-logo-and-h2">
                <img id="footer-logo" src="/static/base/images/logo.svg" alt="{{trading_name}} Logo">
                <h2 id="footer-h2">Thank You For Visiting Us!</h2>
            </div>
            <div id="ci-and-flower">
                <div id="footer-info">
                    <div class="contact-info">
                        <img src="/static/base/images/mail.png" alt="Mail Icon" />
                        <a href="mailto:info@littleducklingschildminding.co.uk">info@littleducklingschildminding.co.uk</a>
                    </div>
                    <div class="contact-info">
                        <img src="/static/base/images/phone_icon.png" alt="Telephone Icon" />
                        <a href="tel:+447547635016">07547 635016</a>
                    </div>
                    <div class="contact-info">
                        <img src="/static/base/images/location.png" alt="Location Icon" />
                        <a href="https://www.google.com/maps?q=Baddeley+Green,+Stoke-on-Trent" target="_blank">Baddeley Green, Stoke-on-Trent</a>
                    </div>
                </div>
                <img id="little-flower" src="/static/base/images/flower.png" alt="Little Orange Flower" />
            </div>
            <div id="social-media">
                <a id="facebook-footer-a" href="https://www.facebook.com/profile.php?id=61577982127235" target="_blank">
                    <img class="sm-icon" src="/static/base/images/facebook.png" alt="Facebook Icon" />
                </a>
                <a id="instagram-footer-a" href="https://www.instagram.com/_littleducklings/" target="_blank">
                    <img class="sm-icon" src="/static/base/images/instagram.png" alt="Instagram Icon" />
                </a>
            </div>
            <div id="kowd-stamp">
                <a href="https://kowd.uk" target="_blank">
                    <img src="https://kowd.uk/images/KOWD.svg" alt="KOWD Badge">
                </a>
                <p>Developed &amp; Powered by <a href="https://kowd.uk" target="_blank">KOWD</a></p>
            </div>
        </footer>
    <script src="/static/base/script.js"></script>
    {% block scripts %}
    {% endblock %}

    {% if messages %}
    <script>
        {% for message in messages %}
        alert('{{ message|safe }}')
        {% endfor %}
    </script>
    {% endif %}
    </body>
</html>
