{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/login/styles.css" />
{% endblock %}

{% block header %}
<h1>Login</h1>

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="email">Email:</label>
        <input id="email" type="email" autocomplete="email" name="email" required />
        <input type="hidden" name="a" />
        <input type="hidden" name="b" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" autocomplete="current-password" name="password" required />
        <input type="hidden" name="c" />
        <input type="hidden" name="d" />
    </div>
    <button type="submit">Login</button>
</form>
<div id="forgot-password-div">
    <a href="{% url 'password_reset' %}">Forgot Your Password?</a>
</div>
{% endblock %}

{% block main %}
{% endblock %}

{% block scripts %}
<script src="/static/login/script.js"></script>
{% endblock %}